@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Core 2.2 Combined Sample</h1>
    <p class="lead">A sample web application based on ASP.NET Core 2.2 using MVC, Entity Framework Core, Web API and SignalR</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET Core</h2>
        <p>
            https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2           
        </p>

    </div>
    <div class="col-md-4">
        <h2>Web API</h2>
        <p>
            https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2           
        </p>

    </div>
    <div class="col-md-4">
        <h2>SignalR</h2>
        <p>
            https://docs.microsoft.com/en-us/aspnet/core/signalr/introduction?view=aspnetcore-2.2           
        </p>

    </div>
</div>

 